/* Static Content on Page */

#spreadsheet{
    margin: auto;
    margin-top: 300px;
    border-collapse: collapse;
}

#spreadsheet td, #spreadsheet th, input{
    border: 1px solid black;
    font-size: 25px;
    width: 140px;
    height: 55px;
    padding-left: 10px;
}

#spreadsheet th{
    background-color: #d0d0d0;
    text-align: center;
    font-weight: bold;
}


/* Selected Cells */

.selected{
    background-color: #e0e0ff;
}


/* Bar Chart */

#barChart svg{
    margin-left: 650px;
}
